# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
deb/etc/pinba-influxer/config.yml
deb/usr/bin/pinba-influxer
*.deb
config.yml
.github_token
.goreleaser-n1.yml
dist/
